<!DOCTYPE html>
<html>

<head>
  <title>chatbox</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <meta charset="UTF-8">
  <title>Chat application</title>
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/mycss.css">
</head>

<body>
  <ul class="nav nav-tabs">
    <li role="presentation"><a href="../">Home</a></li>
    <li role="presentation"><a href="../detail">Profile</a></li>
    <li role="presentation" class="active"><a href="#">Messages</a></li>
  </ul>
  <div class="main_container" >
    <div style="text-align: center; background-color: peachpuff;">
      <h1>Welcome to my ChatBox!</h1>

      <div>
        <h2 style="color: black;">chat box</h2>
      </div>
      <div id="chatbox"></div>
      <form>
        <div>
          <label for="name" id="lab">What is your name:</label>
          <input id="name"/>
        </div>
        <div>
          <label for="message-input">Hello <span id="login_user"></span>! Leave your message here:</label>
          <input id="message-input" />
        </div>
        <div> </div>
        <div><button onclick="hidetext(),getname()" class="btn btn-primary" data-toggle="button"> login & send</button>
        </div>
      </form>
      <div id="sign_out"><button onclick="delname(),hidebutton()" class="btn btn-primary" data-toggle="button">sign
          out</button></div>
    </div>

    <div><span style="color: gray; font-size: 18px;">The Users online:</span>
      <span style="color: gray; font-size: 18px;" id="online_user"></span>
    </div>
    <div>
      <h4 style="color: gray;">System message</h4>
    </div>
    <ul id="messages"></ul>
  </div>
  
  <script>
    // create variables
    var chatbox = document.getElementById('chatbox')
    var login_user = document.getElementById('login_user')
    var online_user = document.getElementById('online_user')
    var mycharlab = document.getElementById('lab');
    var mychar = document.getElementById('name');
    var mysignout = document.getElementById('sign_out')
    // unshow the sign out button before sign in
    mysignout.style.display = 'none'
    const socket = io();

    //monitoring the login user
    socket.on('login user', function (users) {
      online_user.innerText = users;
    })
    // monitoring the console message from server
    socket.on('console message', function (login_msg, off_msg, err_message) {

      $('#messages').append($('<li>').text(login_msg, off_msg, err_message));

    });
    //monitoring the chat message sent by server
    socket.on('chat message', function (message_back) {
      chatbox.innerText = message_back
    });

    //monitoring the disconnect message








    // form when submmit 
    $('form').submit(function (e) {

      const Inputname = $('#name');
      const username = Inputname.val();
      socket.emit('user name', username);
      const messageInput = $('#message-input');
      const message = messageInput.val();
      socket.emit('chat message', message, login_user.innerText);
      //refresh the input box
      messageInput.val('');

      //show the log out button
      mysignout.style.display = 'inline';

      return false;
    });
    // hide input name box after enter your name
    function hidetext() {

      mychar.style.display = 'none';

      mycharlab.style.display = 'none';

    }
    function getname() {
      login_user.innerText = document.getElementById('name').value;
    }
    function hidebutton() {
      //hide sign out button again
      mysignout.style.display = 'none'
    }
    function delname() {
      //show input name box
      mychar.style.display = 'inline';

      mycharlab.style.display = 'inline';
      socket.emit('del_user', login_user.innerText)
    }
  </script>
</body>

</html>