
.text_selfDesign {
    font-weight: bolder;
    color: white;
}
.background_upper{
    background-color: rgb(53, 123, 199);
}
.background{
    background-color: #080808;
}

.head_image {
    margin: auto;
    margin-top: 36px;
    width: 240px;
    margin-bottom:55px ;
    height: 240px;
}
.head_image img{
    height: 100%;
    width: 100%;

}
.main_container{
    margin: auto;
    width: 1200px;
    height: auto;
    

}
.main_container .font_color{
    color: white;
}
.main_container h2{
    color: white;
}
.platform {
            width: 1000px;

            margin: 0 auto;
            margin-top:40px;
            display: flex;
            flex-wrap: wrap;

        }
.platform img{
            width: 330px;
            height: 100%;

}

body{



width:100%;
height:100%;


background-color: rgb(227 227 227 / 70%);
background: url(../static/background.png);
background-repeat: no-repeat;
background-size: cover;
overflow-x: hidden;


}

